{% extends 'base.html.twig' %}


{% block body %}
    <h1>Mes Projets</h1>
    {% for projet in projets %}
        <div class="card">
            <p>{{ projet.titre }}</p>
            <p>{{ projet.description }}</p>
            <p>{{projet.clients }}</p>
            <div class="card2">
            {% for image in projet.images %}
                <img src="{{ asset('/uploads/' ~ image.name) }}" alt="Images" width="350">
            {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
