<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ path('login') }}">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Projets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_login') }}">Admin</a>
  </li>
</ul>

